.banner {
  position: relative;
}

.banner__img {
  width: 100%;
  height: calc(100vh - 4.5rem);

}

.banner__titulo {

  position: absolute;
  width: 100%;
  top: 50%;


  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 5.605rem;


  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}
