.banner {
  position: relative;
}

.banner__img {
  width: 100%;
  height: calc(100vh - 4.5rem);
  background-image: url(../../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.banner__titulo {

  position: absolute;
  width: 100%;
  top: 50%;


  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 7rem;


  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}


/* Media Queries */

@media screen and (max-width: 1024px) {

  .banner__titulo {
    font-size: 4rem;
    top: 50%;
  }

  .banner__img {
    height: calc(100vh - 3.188rem);
  }
}
