.cabecalho {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2rem;
}


.menu__lista {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.lista__item:last-child a {
  margin-right: 0;
}


.cabecalho__link {
  color: #808080;
  text-decoration: none;
  margin-right: 1.25rem;

  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.6s;
}

.cabecalho__link:active {
  color: #333333;
  font-weight: bold;
}

.cabecalho__link:hover {
  border-color: #808080;
}
